#earth {
  height: 100vh;
  background-image: linear-gradient(
    #000000,
    #282741,
    #44426E,
    #DFA17C,
    #44426E,
    #44426E);
  background-size: 100vw 700vh;
  background-repeat: no-repeat;
  transition: background-position 2s ease-in-out 0s;
}

/* Gradient positions */
.timeSunRise,
.timeSunDown {
  background-position: 0 50%;
}

.timeMorning,
.timeEvening {
  background-position: 0 66%;
}

.timeDay {
  background-position: 0 100%;
}

.timeNight {
  background-position: 0 0;
}

/* Earth states */
#earthSunLow {
  background-image: url(../img/mobile/earthFootMobSunLow.png);
}
#earthWarm {
  background-image: url(../img/mobile/earthFootMobWarm.png);
}
#earthDay {
  background-image: url(../img/mobile/earthFootMobDay.png);
}
#earthNight {
  background-image: url(../img/mobile/earthFootMobNight.png);
}

/* Add earth state transitions */
#earthImg div {
  position: fixed;
  width: 100%;
  height: 300px;
  left: 0;
  bottom: 0;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 2s ease-in-out;
}

.earthShow {
  opacity: 1;
}

.earthHide {
  opacity: 0;
  transition-delay: 2s;
}

/* Tablets */
@media only screen and (min-width: 768px) {
  #earthSunLow {
    background-image: url(../img/tablet/earthFootTabSunLow.png);
  }
  #earthWarm {
    background-image: url(../img/tablet/earthFootTabWarm.png);
  }
  #earthDay {
    background-image: url(../img/tablet/earthFootTabDay.png);
  }
  #earthNight {
    background-image: url(../img/tablet/earthFootTabNight.png);
  }
}

/* Laptops & Large Tablets */
@media only screen and (min-width: 1024px) {
  #earthSunLow {
    background-image: url(../img/desktop/earthFootdeskSunLow.png);
  }
  #earthWarm {
    background-image: url(../img/desktop/earthFootdeskWarm.png);
  }
  #earthDay {
    background-image: url(../img/desktop/earthFootdeskDay.png);
  }
  #earthNight {
    background-image: url(../img/desktop/earthFootdeskNight.png);
  }
}
