main {
  height: 70vh;
}

.locationData {
  width: 80%;
  margin: 10px 10% 60% 10%;
}

#map {
  height: 50%;
  width: 100%;
  margin: 10px auto;
}

@media only screen and (min-width: 768px) {
  .locationData {
    width: 60%;
    margin: 10px auto;
    padding-left: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {


  #map {
    height: 90%;
    width: 60%;
    margin: 10px auto;
  }
}
