body {
  color: #F6F6F6;
  background-color: #000000;
}

h1 {
  font-family: "stolzl", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 3.5em;
  text-align: center;
}

h2 {
  font-family: "stolzl", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.5em;
  text-align: center;
}

p {
  font-family: "stolzl", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
}

a {
  font-family: "stolzl", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
}

a,
a:link,
a:visited,
a:active {
  color: #F6F6F6;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.infoHead {
  position: fixed;
  left: 0;
  margin: 20px;
}

.infoHead p {
  font-size: 0.7em;
  color: #bbaab8;
}

.infoHeadFlight {
  display: none;
}

.indexHead {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 20px auto;
  align-self: center;
}

.indexHead > h2,
.title > h2{
  margin: 20px;
}

.btnIndex {
  padding: 1em 2em;
  margin: 2em auto 0 auto;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.1);
}

.btnIndex:hover {
  transition: all 1s ease-in-out;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

nav {
  position: fixed;
  left: 0;
  bottom: 70px;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 -4px 5px rgba(255, 255, 255, 0.1), 0 4px 5px rgba(0, 0, 0, 0.4);
  background-color: #000000;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav a:hover {
  transition: all 1s;
  opacity: 1;
}

nav>a svg {
  height: 40px;
  max-width: 40px;
  margin-bottom: 15px;
  fill: #F6F6F6;
}

a.menuActive {
  opacity: 1;
  color: #dfa17c;
}

.menuIcon {
  height: 40px;
  max-width: 40px;
  margin-bottom: 5px;
}

/* Index */
#index {
  height: 100vh;
  overflow: hidden;
  background-image: url(../img/mobile/marsBGmob.jpg), url(../img/mobile/earthBGmob.jpg);
  background-position: right top, left bottom;
  background-repeat: no-repeat;
  animation: pulsePlanetsMob 4s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pulsePlanetsMob {
  0% {background-size: 50%}
  50% {background-size: 48%}
  100% {background-size: 50%}
}


/* Info Ship */
#shipMain {
  width: 85%;
  margin: 25px auto 300px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 75px;
  grid-template-areas:
  "waterUse"
  "hamster"
  "travelTime"
  "waterStore"
}

#shipMain article p {
  text-align: center;
  margin-bottom: 20px;
}

#shipWaterUse {grid-area: waterUse;}
#shipHamster {grid-area: hamster;}
#shipTravelTime {grid-area: travelTime;}
#shipWaterStore {grid-area: waterStore;}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 300px;
  width: 100%;
}

#marsImg,
#earthImg {
  background-position: bottom center;
  background-repeat: no-repeat;
}

#marsImg {
  background-image: url(../img/mobile/marsFootMob.png);
}

#earthImg {
  background-image: url(../img/mobile/earthFootMob.png);
  background-color: #000000;
}

/* Tablets */
@media only screen and (min-width: 768px) {
  #shipMain {
    margin: 0 auto;
    width: 700px;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    column-gap: 50px;
    grid-template-areas:
    "waterUse hamster"
    "travelTime waterStore"
  }

  .infoHead p {
    font-size: 0.7em;
    color: #bbaab8;
  }

  .infoHeadFlight {
    display: block;
  }

  .indexHead > h1 {
    font-size: 4.5em;
  }

  .indexHead > h2 {
    font-size: 2.5em;
  }

  .btnIndex {
    padding: 1em 2em;
    margin: 2em auto;
    font-size: 2em;
    border-radius: 75px;
  }

  nav a {
    width: 100px;
    height: 100px;
    padding: 15px;
    border-radius: 40px;
  }

  nav>a svg {
    height: 50px;
    max-width: 50px;
  }

  .menuIcon {
    height: 70px;
    max-width: 70px;
  }

  #index {
    background-image: url(../img/tablet/marsBGtab.jpg), url(../img/tablet/earthBGtab.jpg);
    animation: pulsePlanetsTab 4s infinite;
  }

  @keyframes pulsePlanetsTab {
    0% {background-size: 30%}
    50% {background-size: 30.5%}
    100% {background-size: 30%}
  }

  #marsImg {
    background-image: url(../img/tablet/marsFootTab.png);
    height: 400px;
  }
}

/* Laptops & Large Tablets */
@media only screen and (min-width: 1024px) {
  nav {
    left: 50px;
    bottom: 20%;
    height: 60%;
    flex-direction: column;
  }

  #marsImg {
    background-image: url(../img/desktop/marsFootDesk.png);
  }

  .indexHead > h1 {
    font-size: 7em;
  }

  .indexHead > h2 {
    font-size: 3em;
  }

  .btnIndex {
    padding: 1.5em 3em;
    margin: 2em auto;
    font-size: 2em;
    border-radius: 75px;
  }
}

/* Desktops & TV's */
@media only screen and (min-width: 1250px) {
  #index {
    background-image: url(../img/desktop/marsBGdesk.jpg), url(../img/desktop/earthBGdesk.jpg);
  }
}
